header{background-color: #243b75;
    color: #ffffff;
    font-family:"Open Sans";
    padding: 5px;
    border-bottom: 2px solid aquamarine ;
    padding-left: 50px;}

.copy{padding-left: 50px;
font-family: "Open Sans";}

span{display: inline;
background-color: aquamarine;}

.card{display:inline-block;
    width: 30%;
    vertical-align: top;}

.dogpic{width:100%;}

.page{padding-left: 50px;}